body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}
.container {
  position: relative;
  background-color: #ffffff;
  padding: 40px 30px; 
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 200px; 
 
}



.heading {
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff1493;
  color: black;
  font-weight: bold;
  padding: 30px 80px; 
  border-radius: 4px;
  font-size: 30px; 
  text-align: center;
  width: 250px;

}


.content {
  font-size: 16px;
  line-height: 2.5;
  font-weight: bold;
  color: #333333;
  padding-top: 50px;
  }